<div class="jumbotron">
	<h1>Yay titles for everyone!</h1>
	<p>Give me 478435748707 dollars.</p>
	<p>Sign up <a href=”#”>here</a>.</p>
	<p>Or, sign up <%= link_to "here", "#" %>.</p>
	<p>Or, sign up <%= link_to "here", "#", class: "btn btn-primary btn-lg" %>.</p>
</div>