<div class="jumbotron center">
	<h1>Yay titles for everyone!</h1>
	<p>Give me 478435748707 dollars.</p>
	<p>
		<%= link_to "Log In", "#", class: "btn btn-default btn-lg" %>
		<%= link_to "Sign Up", "#", class: "btn btn-primary btn-lg" %>
	</p>
</div>